.app__laurels_awards{
  display: flex;
  flex-wrap: wrap;
}


.app__wrapper_img img{
  //width: 100px;
  //flex: 1;
}



.app__laurels_awards{
  //border: 2px solid white;
  display: flex;
  gap: 2rem;


  &-card{
    display: flex;
    flex: 1;
    min-width: 230px;
  }

  img{
    height: 50px;
    width: 50px;
  }
}






