.app__wrapper_info{
  //border: 2px solid white;
  display: flex;
  gap: 2rem;
}

.app__chef-content{
  //border: 2px solid white;
  position: relative;
}


.app__chef-content_quote{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  img{
    width: 2rem;
    margin: 0 1rem 1rem 0;
  }
}


.app__chef-sign{

  p:first-child{
    color: var(--color-golden);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .p__opensans{
    font-size: 0.75rem;
  }

  img{
    width: 200px;
    margin-top: 1.5rem;
  }
}
